@charset "utf-8";

/* main page styles */
body {
    margin: 0;
    background-color: cornsilk;
}

header {
    text-align: center;
}

main {
    margin: 2%;
}

footer {
    text-align: center;
}

nav {
    font-size: large;
}

/* main content styles */
canvas {
    border: 2px solid black;
    background-color: white;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

/* Button Styles */
.canvas-actions button {
    width: 100%;
    height: 10%;
    font-size: x-large;
}

.clear {
    background-color: red;
    color: white;
}

.secondary {
    background-color: #73f947;
    color: black;
}

video {
    margin-top: 2%;
    border: 2px solid black;
}