@charset "utf-8";

form {
    margin: 10%;
    margin-bottom: 0;
    background-color: #C4D7E6;
    color: #0B3954;
    padding: 2%;
    border-radius: 1%;
}

.none {
    display: none;
}

input {
    display: block;
}
